[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-extensions = "*"
psycopg2-binary = "*"
requests = "*"
django-simple-menu = "*"
django-vanilla-views = "*"
django-bootstrap5 = "*"
django-mail-auth = "*"
django-email-log = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
factory-boy = "*"
coverage = "*"

[requires]
python_version = "3.11"
